@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body{
    padding: 0px 10px;
    text-align: center;
}
.nav{
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 20px;
    padding: 10px 0px 0px;
    background-color: #fafafa;
}
h2{
    margin-top: 30px;
    margin-bottom: 10px;
}
input, textarea{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 20%;
    padding: 5px;
}
button{
    margin-bottom: 30px;
}
table{
    width: 50% !important;
    margin: 20px auto;
}
.btn{
    box-shadow: 1px 1px 3px #c3c3c3 !important;
    margin:0 5px !important;
}
.back{
    margin-top: 20px;
}